body {
    margin: 0;
    padding: 0;
    border: 0;
}

header  {
    background-image: url('img/pattern.png');
    background-color: rgba(11, 110, 202, 0.678);
    background-repeat: repeat;
    height: 100px;
    position: relative;
}

.logo {
    height: 50%;
    width: 10%;
    position: absolute;
    bottom: 0;
}

main {
    margin: 5px;
}

#title {
    font-size: 25px;
}

#writer {
    color: rgb(24, 175, 245);
}

.img {
    margin: 0;
    padding: 0;
}

.image-description {
    margin: 0;
}

.evidenziatore {
    background-color: yellow;
}

.prima-riga {
    background-color: #1e90ff;
    height: 10px;
}

.lorem-ipsum-dolor {
    font-size: 100%;
}

.row-head {
    background-color: #1e90ff;    
}

.row-blue {
    background-color: turquoise;
}

.row-white {
    background-color: none;
}

.row-left {
    display: inline-block;
    /* float: left; */
    width: 30%;
}

.row-right {
    display: inline-block;
    /* float: right; */
    width: 30%;
}

.row-center {
    display: inline-block;
    width: 30%;
}
